@page
@model OdeToFood.Pages.Resturants.ListModel
@{
}

<h1>Resturants</h1>
<table class="table">
    @foreach (var item in Model.restaurants)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Name</td>
            <td>@item.Location</td>
            <td>@item.cuisineType</td>
        </tr>
    }
</table>
@Model.Message