@page
@model OdeToFood.Pages.Resturants.ListModel
@{
}

<h1>Resturants</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <button type="submit" class="btn btn-primary">
                search
            </button>
        </div>
       
    </div>
</form>

<table class="table">
    @foreach (var item in Model.restaurants)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Name</td>
            <td>@item.Location</td>
            <td>@item.cuisineType</td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.ID">Detail</a>
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a>
            </td>
        </tr>
    }
</table>
<a asp-page=".\Edit" class="btn btn-primary">Add New</a>
@Model.Message